<%- include('../partials/header') %>

<body>
    
<!--Show workout details-->
<section id="show-page"></section>
    <div>Date</div>
    <div><%= workout.date %></div>
    <div>Upper</div>
    <div><%= workout.upper %></div>
    <div>Lower</div>
    <div><%= workout.lower %></div>
    <div>Conditioning</div>
    <div><%= workout.conditioning %></div>

    <% if (user) { %>
      <a href="/workouts/<%=workout.id%>/edit">Edit Workout</a>
    <% } else { %>
      <p>You must be logged in to add an athlete.</p>
    <% } %>



<!--Display all assigned athletes-->
    <h2>Assigned athletes:</h2>
    <ul>
        <% workout.athletes.forEach(athlete => { %>
          <li>
            <%= athlete.name %>
<!--Button to remove assigned athlete-->
            <% if (user) { %>
              <form method="POST" action="/athletes/<%= athlete.id %>?_method=DELETE">
                <button type="submit">X</button>
              </form>
            <% } %>

          </li>
          
          <% }) %>
      </ul>

<!--Form to add athletes to the workout-->
<% if (user) { %>
<form id="add-athlete-to-workout" action="/workouts/<%= workout._id %>/athletes" method="POST">
    <select name="athleteId">
      <!-- Emit an option for each athlete -->
      <% athletes.forEach(athlete=> { %>
      <option value="<%= athlete._id %>">
        <%= athlete.name %>
      </option>
      <% }) %>
  </select>
  <button type="submit">Add to Workout</button>
</form>
<% } %>
</body>
</html>